/* external = (outfit for all my pages */
/* internal = (one page wants a unique outfit) */
/* inline = (one line wants a unique outfit*/

/* EXTERNAL */

body {
    background-color: indianred;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center; color:cornsilk
}

ul {
    border-style: hidden hidden hidden dotted;
    border-color: black; 
}

body {
    font-family: sans-serif;
}
