/* external = (outfit for all my pages */
/* internal = (one page wants a unique outfit) */
/* inline = (one line wants a unique outfit*/

/* EXTERNAL */

body {
    background-color: indianred;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center; color:cornsilk
}

ul {
    border-radius: 20px; 
    border-color: green;
    
}

.list_link {
    color:cornsilk; 
}